---
import FormattedDate from "@/components/FormattedDate.astro";
import Layout from "@layouts/Layout.astro";
import { type CollectionEntry, getCollection, render } from "astro:content";
import "@fontsource-variable/jetbrains-mono"; // code font
import Article from "@components/Article.astro";
import Tags from "@components/Tags.astro";

export async function getStaticPaths() {
    const item = await getCollection("blog");
    const paths = item.map((item) => ({
        params: { id: item.id },
        props: item,
    }));

    return paths;
}
type Props = CollectionEntry<"blog">;

const item = Astro.props;
const { Content, headings } = await render(item);
---

<Layout title={item.data.title + " | JC Portfolio"}>
    <section class="mx-auto max-w-4xl space-y-28">
        <!--image, title, desc and tags -->
        <div class="space-y-8">
            <div class="mx-auto space-y-8">
                <!--text section-->
                <div class="space-y-4">
                    <div>
                        <h1
                            class="title"
                            transition:name={"blog-title-" + item.id}
                        >
                            {item.data.title}
                        </h1>
                    </div>

                    <p
                        class="font-light text-muted-foreground"
                        transition:name={"blog-desc-" + item.id}
                    >
                        {item.data.description}
                    </p>

                    <!--date-->
                    <p class="text-sm" transition:name={"blog-date-" + item.id}>
                        <FormattedDate date={item.data.date} includeDay />
                        {
                            item.data.updatedDate && (
                                <>
                                    - Updated on{" "}
                                    <FormattedDate
                                        date={item.data.updatedDate}
                                        includeDay
                                    />
                                </>
                            )
                        }
                    </p>
                </div>

                <!--tags-->
                <Tags tags={item.data.tags} />
            </div>

            <!--markdown content -->
            <Article headings={headings}>
                <Content />
            </Article>
        </div>
    </section>
</Layout>
