---
import FormattedDate from "@/components/FormattedDate.astro";
import Layout from "@layouts/Layout.astro";
import { type CollectionEntry, getCollection, render } from "astro:content";
import { MoveLeft } from "lucide-react";
import "@fontsource-variable/jetbrains-mono"; // font
import { buttonVariants } from "@/components/ui/button";

export async function getStaticPaths() {
    const item = await getCollection("blog");
    const paths = item.map((item) => ({
        params: { id: item.id },
        props: item,
    }));

    return paths;
}
type Props = CollectionEntry<"blog">;

const item = Astro.props;
const { Content } = await render(item);
---

<Layout title={item.data.title + " | JC Portfolio"}>
    <section class="container space-y-8">
        <div class="max-w-prose mx-auto space-y-8">
            <a
                class="inline-flex gap-2 text-muted-foreground hover:text-foreground transition-colors"
                href="/blog"
            >
                <MoveLeft />
                {" "}
                Back to blog
            </a>

            <div class="space-y-4">
                <h1 class="title" transition:name={"blog-title-" + item.id}>
                    {item.data.title}
                </h1>

                <p class="subtitle" transition:name={"blog-desc-" + item.id}>
                    {item.data.description}
                </p>

                <div class="flex text-muted-foreground gap-4">
                    <p transition:name={"blog-date-" + item.id}>
                        <FormattedDate date={item.data.date} includeDay />
                    </p>
                </div>
            </div>
        </div>
    </section>

    <article
        class="prose prose-h2:heading prose-zinc mx-auto dark:prose-invert"
    >
        <Content />
    </article>

    <section class="container">
        <ul class="flex flex-wrap gap-2 max-w-prose mx-auto">
            {
                item.data.tags.map((tag) => (
                    <li>
                        <a
                            href={`/blog/tag/${tag}`}
                            class={buttonVariants({ variant: "secondary" })}
                        >
                            {tag}
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</Layout>
