---
import FormattedDate from "@/components/FormattedDate.astro";
import Layout from "@layouts/Layout.astro";
import { type CollectionEntry, getCollection, render } from "astro:content";
import "@fontsource-variable/jetbrains-mono"; // code font
import Link from "@/components/ui/Link.astro";
import Article from "@components/Article.astro";

export async function getStaticPaths() {
    const item = await getCollection("blog");
    const paths = item.map((item) => ({
        params: { id: item.id },
        props: item,
    }));

    return paths;
}
type Props = CollectionEntry<"blog">;

const item = Astro.props;
const { Content, headings } = await render(item);
---

<Layout title={item.data.title + " | JC Portfolio"}>
    <section class="mx-auto max-w-4xl space-y-28">
        <!--image, title, desc and tags -->
        <div class="space-y-8">
            <div class="mx-auto space-y-8">
                <!--text-->
                <div class="space-y-4">
                    <h1 class="title" transition:name={"blog-title-" + item.id}>
                        {item.data.title}
                    </h1>

                    <p
                        class="subtitle"
                        transition:name={"blog-desc-" + item.id}
                    >
                        {item.data.description}
                    </p>

                    <p transition:name={"blog-date-" + item.id}>
                        <FormattedDate date={item.data.date} includeDay />
                    </p>
                </div>
            </div>

            <!--tags-->
            <ul class="flex flex-wrap gap-2">
                {
                    item.data.tags.map((tag) => (
                        <li>
                            <Link
                                variant="secondary"
                                size="sm"
                                href={`/blog/tag/${tag}`}
                            >
                                {tag}
                            </Link>
                        </li>
                    ))
                }
            </ul>
        </div>

        <!--markdown content -->
        <Article headings={headings}>
            <Content />
        </Article>
    </section>
</Layout>
