---
import FormattedDate from "@/components/FormattedDate.astro";
import Layout from "@layouts/Layout.astro";
import { type CollectionEntry, getCollection, render } from "astro:content";
import "@fontsource-variable/jetbrains-mono"; // code font
import Article from "@components/Article.astro";
import Tags from "@components/Tags.astro";
import { Image } from "astro:assets";
import placeholder from "@assets/blog/placeholder.png";

export async function getStaticPaths() {
    const item = await getCollection("blog");
    const paths = item.map((item) => ({
        params: { id: item.id },
        props: item,
    }));

    return paths;
}
type Props = CollectionEntry<"blog">;

const item = Astro.props;
const { Content } = await render(item);
---

<Layout title={item.data.title + " | JC Portfolio"}>
    <section class="mx-auto max-w-4xl space-y-8">
        <!--header title-->
        <div class="space-y-4">
            <h1 class="title" transition:name={"blog-title-" + item.id}>
                {item.data.title}
            </h1>

            <p
                class="font-light text-muted-foreground"
                transition:name={"blog-desc-" + item.id}
            >
                {item.data.description}
            </p>

            <!--date-->
            <p class="text-sm" transition:name={"blog-date-" + item.id}>
                <FormattedDate date={item.data.date} includeDay />
                {
                    item.data.updatedDate && (
                        <>
                            - Updated on{" "}
                            <FormattedDate
                                date={item.data.updatedDate}
                                includeDay
                            />
                        </>
                    )
                }
            </p>
            <!--tags-->
            <Tags tags={item.data.tags} type="blog" />
        </div>

        <!--image-->
        <div class="rounded-3xl">
            <Image
                src={item.data.image ? item.data.image : placeholder}
                alt=""
                class="aspect-video w-full rounded-3xl object-cover"
                transition:name={"project-image" + item.id}
                loading="eager"
                format="avif"
                widths={[640, 768, 1024, 1500]}
                sizes={`
                    (max-width: 640px) 640px, 
                    (max-width: 768px) 768px, 
                    (max-width: 1024px) 1024px, 
                    (max-width: 1280px) 1500px`}
            />
        </div>
    </section>

    <!--markdown content -->
    <Article>
        <Content />
    </Article>
</Layout>
