---
import FormattedDate from "@/components/FormattedDate.astro";
import Layout from "@layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { MoveLeft } from "lucide-react";
import "@fontsource-variable/jetbrains-mono"; // font
import { buttonVariants } from "@/components/ui/button";
import ViewCounter from "@components/ViewCounter";

export async function getStaticPaths() {
  const mdx = await getCollection("blog");
  const paths = mdx.map((item) => ({
    params: { slug: item.slug },
    props: item,
  }));

  return paths;
}
type Props = CollectionEntry<"blog">;

const mdx = Astro.props;
const { Content } = await mdx.render();
const { pathname } = Astro.url;
---

<Layout title={mdx.data.title + " | JC Portfolio"}>
  <section class="container space-y-8">
    <div class="max-w-prose mx-auto space-y-8">
      <div class="space-y-4">
        <h1 class="title" transition:name={"blog-title-" + mdx.slug}>
          {mdx.data.title}
        </h1>

        <p class="subtitle" transition:name={"blog-desc-" + mdx.slug}>
          {mdx.data.description}
        </p>

        <div class="flex subheading gap-8">
          <p transition:name={"blog-date-" + mdx.slug}>
            <FormattedDate date={mdx.data.date} includeDay />
          </p>

          <ViewCounter url={pathname} client:idle />
        </div>

        <a
          class="inline-flex gap-2 text-muted-foreground hover:text-foreground transition-colors"
          href="/blog"
        >
          <MoveLeft />
          {" "}
          All posts
        </a>
      </div>
    </div>

    <article
      class="prose prose-h2:heading prose-zinc mx-auto dark:prose-invert"
    >
      <Content />
    </article>
  </section>

  <section class="container">
    <ul class="flex flex-wrap gap-2 max-w-prose mx-auto">
      {
        mdx.data.tags.map((tag) => (
          <li>
            <a
              href={`/blog/tag/${tag}`}
              class={buttonVariants({ variant: "secondary" })}
            >
              {tag}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
