---
import { badgeVariants } from "@/components/ui/badge";
import Layout from "@layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { MoveLeft } from "lucide-react";

export async function getStaticPaths() {
  const mdx = await getCollection("blog");
  const paths = mdx.map((item) => ({
    params: { slug: item.slug },
    props: item,
  }));

  return paths;
}
type Props = CollectionEntry<"blog">;

const mdx = Astro.props;
const { Content } = await mdx.render();
---

<Layout title={mdx.data.title}>
  <section class="container space-y-16">
    <a
      class="inline-flex gap-2 text-muted-foreground hover:text-foreground transition-colors"
      href="/projects"
    >
      <MoveLeft />
      {" "}
      All projects
    </a>

    <div class="max-w-6xl mx-auto space-y-16">
      <div class="space-y-4">
        <h1 class="title" transition:name={"blog-title-" + mdx.slug}>
          {mdx.data.title}: {mdx.data.description}
        </h1>

        <p class="subheading" transition:name={"blog-date-" + mdx.slug}>
          {
            mdx.data.date.toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })
          }
        </p>
      </div>
    </div>

    <article
      class="prose prose-h2:heading prose-zinc mx-auto dark:prose-invert"
    >
      <Content />
    </article>
  </section>

  <section class="container">
    <ul class="flex flex-wrap gap-2 max-w-prose mx-auto">
      <li>
        <p>Tags</p>
      </li>

      {
        mdx.data.tags.map((tag) => (
          <li>
            <a
              href={`/projects/tags/${tag}`}
              class={badgeVariants({ variant: "secondary" })}
            >
              {tag}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
