---
import { getCollection } from "astro:content";
import { buttonVariants } from "./ui/button";
import { ChevronRight } from "lucide-react";
import FilterByTag from "./FilterByTag.astro";

const { homepage, title, filter } = Astro.props;

type Props = { homepage: boolean; title: string; filter?: string };

let data = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

if (homepage) {
  data = data.slice(0, 2);
}

// filter by tags on the url params
if (filter) {
  data = data.filter(
    (item) =>
      item.data.tags && item.data.tags.some((tag) => filter.includes(tag))
  );
}
---

<section id="blog" class="container space-y-8">
  <h1 class={homepage ? "heading" : "title"}>
    {title}
    {filter && <span class="text-muted-foreground text-sm">{filter}</span>}
  </h1>
  {!homepage && <FilterByTag collection="blog" />}

  <ul class="md:grid-cols-2 grid gap-4">
    {
      data.map((mdx) => (
        <li>
          <a
            href={`/blog/${mdx.slug}`}
            transition:name={"blog-card-" + mdx.slug}
          >
            <div class="border bg-gradient-to-tr from-muted/20 from-10% rounded-3xl w-full p-8">
              <h2
                class="text-xl font-bold"
                transition:name={"blog-title-" + mdx.slug}
              >
                {mdx.data.title}
              </h2>

              <p transition:name={"blog-desc-" + mdx.data.description}>
                {mdx.data.description}
              </p>

              <p transition:name={"blog-date-" + mdx.slug}>
                {mdx.data.date.toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </p>
            </div>
          </a>
        </li>
      ))
    }
  </ul>

  {
    homepage && (
      <div class="grid justify-end">
        <a href="/blog" class={buttonVariants({ variant: "outline" })}>
          All posts
          <ChevronRight className="h-4" />
        </a>
      </div>
    )
  }
</section>
