---
import type { Blog } from "@lib/types";
import FormattedDate from "@components/FormattedDate.astro";

type Props = {
    item: Blog;
};

const { item } = Astro.props;
---

<li>
    <a class="group relative h-auto w-full space-y-2" href={`/blog/${item.id}`}>
        <h3
            transition:name={"blog-title-" + item.id}
            class="text-2xl font-bold"
        >
            {item.data.title}
        </h3>
        <p
            transition:name={"blog-desc-" + item.id}
            class="font-light text-muted-foreground"
        >
            {item.data.description}
        </p>
        <p transition:name={"blog-date-" + item.id} class="text-sm">
            <FormattedDate date={item.data.date} includeDay />
            {
                item.data.updatedDate && (
                    <>
                        - Updated on{" "}
                        <FormattedDate
                            date={item.data.updatedDate}
                            includeDay
                        />
                    </>
                )
            }
        </p>
    </a>
</li>
