---
import { getCollection } from "astro:content";
import FilterByTag from "@components/FilterByTag.astro";
import FormattedDate from "@components/FormattedDate.astro";
import Link from "@ui/Link.astro";

const { homepage, title, filter } = Astro.props;

type Props = { homepage: boolean; title: string; filter?: string };

let data = (await getCollection("blog")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

if (homepage) {
    data = data.slice(0, 2);
}

// filter by tags on the url params
if (filter) {
    data = data.filter(
        (item) =>
            item.data.tags &&
            item.data.tags.some((tag) => filter.includes(tag)),
    );
}
---

<section id="blog" class="space-y-8">
    <h1 class={homepage ? "heading" : "title"}>
        {title}
        {filter && <span class="text-xl text-muted-foreground">{filter}</span>}
    </h1>
    {!homepage && <FilterByTag collection="blog" />}

    <ol class="grid gap-8 md:grid-cols-2">
        {
            data.map((item) => (
                <li transition:name={"blog-card-" + item.id}>
                    <div class="space-y-1">
                        <a
                            class="text-xl font-bold transition-all"
                            href={`/blog/${item.id}`}
                            transition:name={"blog-title-" + item.id}
                        >
                            {item.data.title}
                        </a>

                        <p
                            class="text-muted-foreground"
                            transition:name={"blog-desc-" + item.id}
                        >
                            {item.data.description}
                        </p>

                        <div
                            class="text-muted-foreground"
                            transition:name={"blog-date-" + item.id}
                        >
                            <FormattedDate date={item.data.date} includeDay />
                        </div>
                    </div>
                </li>
            ))
        }
    </ol>

    <!--if this component is rendered on the homepage, then render the link to all projects-->
    {
        homepage && (
            <div class="grid justify-end">
                <Link variant="outline" size="lg" href="/blog">
                    All posts
                </Link>
            </div>
        )
    }
</section>
