---
import FormattedDate from "./FormattedDate.astro";
import { badgeVariants } from "./ui/badge";

type Props = {
  title: string;
  company: string;
  desc: string;
  date: Date;
  dateEnd?: Date;
  tags: string[];
};

const { title, company, desc, date, dateEnd, tags } = Astro.props;
---

<div class="grid md:grid-cols-[10rem_1fr] gap-2 md:gap-4">
  <div class="text-muted-foreground font-light text-sm">
    <FormattedDate date={date} />
    {
      dateEnd && (
        <>
          <span> - </span>
          <FormattedDate date={dateEnd} />
        </>
      )
    }
  </div>

  <div class="space-y-2">
    <h2 class="font-bold text-lg">{title} - {company}</h2>

    <p class="text-muted-foreground">{desc}</p>

    {
      tags.map((tag) => (
        <p class={badgeVariants({ variant: "secondary" })}>{tag}</p>
      ))
    }
  </div>
</div>
