---
import { getCollection } from "astro:content";
import CarreerCard from "@components/CarreerCard.astro";

const data = (await getCollection("carreer")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<section class="border-y bg-gradient-to-b from-muted/20 to-muted/10 py-16">
  <div class="container max-w-prose space-y-16">
    <div>
      <h1 class="heading text-center">Carreer</h1>
      <p class="subheading text-center">As a Software Developer</p>
    </div>

    <ol class="space-y-16">
      {
        data.map((item) => (
          <CarreerCard
            title={item.data.title}
            company={item.data.company}
            desc={item.body}
            date={item.data.date}
            dateEnd={item.data.dateEnd && item.data.dateEnd}
            tags={item.data.tags}
          />
        ))
      }
    </ol>
  </div>
</section>
