---
import type { Project } from "@lib/types";
import { Image } from "astro:assets";

type Props = {
    project: Project;
};

const { project } = Astro.props;
---

<a
    class="group relative aspect-[4/3] w-full overflow-hidden rounded-3xl transition-all duration-500 hover:scale-[102%]"
    href={`/projects/${project.id}`}
>
    <div
        class="absolute bottom-0 z-10 w-full animate-fade bg-gradient-to-t from-black/80 p-8 text-end text-zinc-50"
    >
        <p class="text-sm font-light">{project.data.area}</p>
        <h2 class="text-xl font-bold">{project.data.title}</h2>
    </div>

    <Image
        src={project.data.image}
        alt=""
        class="h-full w-full rounded-3xl object-cover transition-all duration-500 group-hover:scale-105"
        transition:name={project.id}
        format="avif"
        widths={[380, 720, 1000, 1500, project.data.image.width]}
        sizes={`
          (max-width: 380px) 380px, 
          (max-width: 720px) 720px, 
          (max-width: 1920px) 1000px, 
          (max-width: 2560px) 1500px, 
          ${project.data.image.width}px`}
    />
    <span class="sr-only">Project details</span>
</a>
