---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { buttonVariants } from "./ui/button";
import { ChevronRight } from "lucide-react";
import FilterByTag from "@components/FilterByTag.astro";

const { homepage, filter, title } = Astro.props;

type Props = {
  homepage: boolean;
  title: string;
  filter?: string;
};

let data = (
  await getCollection("projects", ({ data }) => {
    // if the featured prop is true, then filter the collection
    if (homepage) {
      return data.featured === true;
    }
    // else just return the full collection
    return true;
  })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

// filter by tags on the url params
if (filter) {
  data = data.filter(
    (item) =>
      item.data.tags && item.data.tags.some((tag) => filter.includes(tag))
  );
}
---

<section id="projects" class="container space-y-8">
  <h1 class={homepage ? "heading" : "title"}>
    {title}
    {filter && <span class="text-muted-foreground text-sm">{filter}</span>}
  </h1>

  {!homepage && <FilterByTag collection="projects" />}

  <div class={`${homepage ? "md:grid-cols-2" : "md:grid-cols-3"} grid gap-4 `}>
    {
      data.map((item) => (
        <a
          class="w-full hover:scale-[102%] duration-500 transition-all relative aspect-square overflow-hidden rounded-3xl group"
          href={`/projects/${item.slug}`}
        >
          <div class="animate-fade text-zinc-50 absolute bottom-0 w-full z-10 p-8 bg-gradient-to-t from-black/80 text-end">
            <h2 class="font-bold text-lg">{item.data.title}</h2>
            <p class="text-sm font-light">{item.data.area}</p>
          </div>

          <Image
            src={item.data.image}
            alt=""
            class="object-cover rounded-3xl h-full w-full group-hover:scale-105 transition-all duration-500"
            transition:name={item.slug}
            format="avif"
            widths={[360, 720, 1000, item.data.image.width]}
            sizes={`(max-width: 360px) 360px, (max-width: 720px) 720px, (max-width: 1600px) 1000px, ${item.data.image.width}px`}
          />
          <span class="sr-only">Project details</span>
        </a>
      ))
    }
  </div>

  {
    homepage && (
      <div class="grid justify-end">
        <a href="/projects" class={buttonVariants({ variant: "outline" })}>
          All projects
          <ChevronRight className="h-4" />
        </a>
      </div>
    )
  }
</section>
