---
import type { Project } from "@lib/types";
import { Image } from "astro:assets";

type Props = {
    project: Project;
};

const { project } = Astro.props;
---

<a
    class="w-full overflow-hidden rounded-3xl border bg-gradient-to-tr from-zinc-50 to-zinc-100 transition-transform duration-500 hover:scale-[102%] dark:from-zinc-950 dark:to-zinc-900"
    href={`/projects/${project.id}`}
>
    <!--text-->
    <div class="space-y-4 p-8" transition:name={"text" + project.id}>
        <div>
            <p class="subheading">{project.data.area}</p>
            <h2 class="heading">{project.data.title}</h2>
        </div>
        <p class="font-light">{project.data.description}</p>
    </div>

    <Image
        src={project.data.image}
        alt=""
        class="aspect-video w-full rounded-3xl object-cover"
        transition:name={"image" + project.id}
        format="avif"
        widths={[380, 720, 1000, 1500, project.data.image.width]}
        sizes={`
          (max-width: 380px) 380px, 
          (max-width: 720px) 720px, 
          (max-width: 1920px) 1000px, 
          (max-width: 2560px) 1500px, 
          ${project.data.image.width}px`}
    />
    <span class="sr-only">Project details</span>
</a>
