---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const { featured } = Astro.props;

type Props = { featured: boolean };

const projects = (
  await getCollection("projects", ({ data }) => {
    // if the featured prop is true, then filter the collection
    if (featured) {
      return data.featured === true;
    }
    // else just return the full collection
    return true;
  })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<section class="container space-y-8">
  <h1 class="title">Projects</h1>
  <ul class={`${featured ? "grid-cols-2" : "grid-cols-3"} grid gap-4 `}>
    {
      projects.map((item) => (
        <li class="aspect-square relative group w-full h-full rounded-3xl overflow-hidden">
          <a href={`projects/${item.slug}`}>
            <div class="rounded-3xl absolute bottom-4 right-4 z-10 px-4 py-2 bg-background/50 backdrop-blur ">
              <h2 class="font-bold">{item.data.title}</h2>
              <p class="text-sm">{item.data.area}</p>
            </div>

            <Image
              src={item.data.image}
              alt=""
              class="object-cover h-full w-full rounded-3xl"
              transition:name={item.slug}
            />
          </a>
        </li>
      ))
    }
  </ul>
</section>
