---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import "@fontsource-variable/jetbrains-mono"; // font
import { render } from "astro:content";
import Link from "@/components/ui/Link.astro";

export async function getStaticPaths() {
    const item = await getCollection("projects");
    const paths = item.map((item) => ({
        params: { id: item.id },
        props: item,
    }));

    return paths;
}
type Props = CollectionEntry<"projects">;

const item = Astro.props;
const { Content } = await render(item);
---

<Layout title={item.data.title + "| JC Portfolio"}>
    <section class="space-y-16">
        <!--TODO: add breadcrumbs-->

        <!--image, title, desc and tags -->
        <div class="space-y-8">
            <Image
                src={item.data.image}
                alt=""
                class="mx-auto aspect-video w-full max-w-4xl rounded-3xl object-cover"
                transition:name={item.id}
                loading="eager"
                format="avif"
                widths={[380, 720, 1000, 1500, item.data.image.width]}
                sizes={`
                    (max-width: 380px) 380px, 
                    (max-width: 720px) 720px, 
                    (max-width: 1920px) 1000px, 
                    (max-width: 2560px) 1500px, 
                    ${item.data.image.width}px`}
            />

            <div class="mx-auto max-w-prose space-y-8">
                <div class="space-y-4 text-center">
                    <h1 class="title">
                        {item.data.title}
                    </h1>

                    <p class="subtitle">{item.data.description}</p>
                </div>
                <ul
                    class="mx-auto flex max-w-prose flex-wrap justify-center gap-2"
                >
                    {
                        item.data.tags.map((tag) => (
                            <li>
                                <Link
                                    variant="secondary"
                                    size="sm"
                                    href={`/projects/tag/${tag}`}
                                >
                                    {tag}
                                </Link>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>

        <!--markdown content -->
        <article
            class="prose-h2:heading prose prose-zinc mx-auto dark:prose-invert"
        >
            <Content />
        </article>
    </section>
</Layout>
