---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import "@fontsource-variable/jetbrains-mono"; // font
import { render } from "astro:content";
import Article from "@components/Article.astro";
import Tags from "@components/Tags.astro";

export async function getStaticPaths() {
    const item = await getCollection("projects");
    const paths = item.map((item) => ({
        params: { id: item.id },
        props: item,
    }));

    return paths;
}
type Props = CollectionEntry<"projects">;

const item = Astro.props;

const { Content, headings } = await render(item);
---

<Layout title={item.data.title + "| JC Portfolio"}>
    <section class="mx-auto max-w-4xl space-y-28">
        <!--image, title, desc and tags -->
        <div class="space-y-8">
            <div class="mx-auto space-y-8">
                <!--text section-->
                <div transition:name={"text" + item.id} class="space-y-4">
                    <div>
                        <p class="subtitle">
                            {item.data.area}
                        </p>
                        <h1 class="title">
                            {item.data.title}
                        </h1>
                    </div>

                    <p class="font-light">{item.data.description}</p>
                </div>
            </div>

            <div
                class="rounded-3xl bg-gradient-to-tr from-zinc-50 to-zinc-100 dark:from-zinc-950 dark:to-zinc-900"
            >
                <Image
                    src={item.data.image}
                    alt=""
                    class="aspect-video w-full rounded-3xl object-cover"
                    transition:name={"image" + item.id}
                    loading="eager"
                    format="avif"
                    widths={[380, 720, 1000, 1500, item.data.image.width]}
                    sizes={`
                    (max-width: 380px) 380px, 
                    (max-width: 720px) 720px, 
                    (max-width: 1920px) 1000px, 
                    (max-width: 2560px) 1500px, 
                    ${item.data.image.width}px`}
                />
            </div>

            <!--tags-->
            <Tags tags={item.data.tags} />
        </div>

        <Article headings={headings}>
            <Content />
        </Article>
    </section>
</Layout>
