---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import MDXLayout from "@layouts/MDXLayout.astro";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  const paths = projects.map((item) => ({
    params: { slug: item.slug },
    props: item,
  }));

  return paths;
}
type Props = CollectionEntry<"projects">;

const project = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.title}>
  <MDXLayout href="/projects" label="All Projects" />
  <section class="container space-y-16">
    <div class="max-w-6xl mx-auto space-y-16">
      <div class="space-y-4">
        <h1 class="title">
          {project.data.title}: {project.data.description}
        </h1>

        <p class="subheading">
          {
            project.data.date.toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
            })
          }
        </p>
      </div>

      <Image
        src={project.data.image}
        alt=""
        class="object-cover aspect-video w-full rounded-3xl"
        transition:name={project.slug}
        format="avif"
      />
    </div>

    <article
      class="prose prose-h2:heading prose-zinc mx-auto dark:prose-invert"
    >
      <Content />
    </article>
  </section>
</Layout>
